*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    height: 100vh;
}

.app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: aqua;
}

/*profile*/
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 25%;
    background-color: aquamarine;
}

/*info*/
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 75%;
    background-color: rgb(20, 102, 75);
}

.infoFeature{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 100%;
    background-color: rgb(177, 204, 195);
}

.infoSlider{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 100%;
    background-color: blueviolet;
}